<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>   
</head>
<body>
    <h1>Thanks <%=username %>, we will send updates to <%= email %></h1>
    <!-- <h1>Thanks {username}, we will send updates to {email}</h1> //itt a valtozo nevek az objectnek a kulcsai-->
</body>

</html>